@font-face {
    font-family: 'Figtree';
    src: url(../assets/fonts/Figtree-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'Figtree Italic';
    src: url(../assets/fonts/Figtree-Italic-VariableFont_wght.ttf);
    font-style: italic;
}
@font-face {
    font-family: 'Figtree Medium';
    src: url(../assets/fonts/static/Figtree-Medium.ttf);
    font-style: normal;
}
@font-face {
    font-family: 'Figtree Bold';
    src: url(../assets/fonts/static/Figtree-ExtraBold.ttf);
    font-style: normal;
}

.flex {
    display: flex;
    align-items: center;
}

.hsl_grey {
    color: hsl(0, 0%, 42%);
}

p {
    font-size: 16px;
}

body {
    background-color: hsl(47, 88%, 63%);
    min-height: 100vh;
    font-family: Figtree;
}

main {
    min-height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

#card {
    background-color: hsl(0, 0%, 100%);
    width: 350px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 10px 10px black;
}

#illu {
    border-radius: 10px;
    width: 100%;
}

#learning {
    background-color: hsl(47, 88%, 63%);
    border-radius: 5px;
    width: fit-content;
    padding: 6px 17px;
    margin-top: 0.7em;
    font-size: 1em;
    font-family: 'Figtree Bold';
}

.date_publication {
    font-family: 'Figtree Medium';
}

.title_heading {
    font-family: 'Figtree Bold';
}



#avatar {
    width: 40px;
}

.avatar_name {
    font-family: 'Figtree Bold';
    margin: 0;
    padding-left: 10px;
}

div[class=flex] {
    margin-top: 1.5em;
}


@media screen and (max-width: 375px) {
    p {
        font-size: 13px;
    }

    #card {
        width: 280px;
        padding: 25px;
    }

    #illu {
        height: 200px;
        object-fit: cover;
    }
    
    #learning {
        margin-top: 1.5em;
    }

    .title_heading {
        font-size: 20px;
    }

    #avatar {
        width: 30px;
    }
   }
